html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
}

body {
  position: absolute;
  width: 100%;
}

#logo {
  cursor: pointer;
}

.new-wireframe {
  text-align: center;
  cursor: pointer;
  transition: 0.25s;
}

div.banner {
  padding: 20px;
  margin-top: 20px;
}

.delete-wireframe {
  cursor: pointer;
}

.wireframe_header {
  position: relative;
}

.card-content {
  padding-right: 20px !important;
  padding-left: 20px !important;
}

form {
  padding: 20px;
  text-align: center;
}

.login_form {
  padding-top: 20px !important;
}

#wireframe-info {
  padding: 10px;
  text-align: center;
}

.input.row {
  margin-bottom: 0;
}

.input-field.inline {
  width: 50%;
}

.input-field label {
  top: 5px;
  left: 10px;
}

.input-field.item {
  margin: 0;
}

.input-field.property {
  margin: 5px 0;
}

.add-element {
  text-align: center;
  padding: 20px 0;
  cursor: pointer;
}

#update-button {
  margin-bottom: 20px;
}

#example-container {
  height: 60px;
  width: 60%;
  margin: 0 auto;
  padding-top: 30px;
}

#example-button {
  height: 25px;
  width: 30%;
  margin: 0 auto;
}

#example-textfield {
  height: 25px;
  width: 70%;
  margin: 0 auto;
  text-align: left;
  padding-left: 5px;
}

.resize-handle {
  height: 10px !important;
  width: 10px !important;
}

h5.header {
  display: inline-block;
}

#trashcan {
  position: absolute;
  right: 5%;
}

tr.item_row, .clickable {
  cursor: pointer;
}

.container.grey {
  max-width: none;
}

#editor {
  padding: 0;
  width: 100%;
}

#leftbar {
  padding: 0;
}

#edit-window {
  position: relative;
  overflow: auto;
  max-height: 85vh;
  max-width: 100%;
  padding: 0;
}

.icon-button {
  font-size: 30px;
  padding: 5px;
  vertical-align: middle;
  cursor: pointer;
  color: white;
}

#actions {
  text-align: center;
}

.action {
  bottom: 7px;
  right: 0 !important;
}

.element.button p {
  margin: 0 auto;
  text-align: center;
}

.element.textfield p {
  padding-left: 5px;
}

.element {
  display: flex !important;
}

.buttons {
  display: inline-block;
}

#save-modal {
  height: 200px;
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

#modal-header {
  display: inline-block;
  text-align: center;
  margin-bottom: 18%;
}

.ReactModal__Overlay--after-open {
  z-index: 2;
}

.dialog_button {
  cursor: pointer;
  margin: 0 15px;
  border: none;
}

#dialog-buttons {
  margin-top: 20px;
}

.color-picker-color {
  width: 36px;
  height: 14px;
  border-radius: 2px;
}

.color-picker-swatch {
  width: 46px;
  margin: 15px 0;
  padding: 5px;
  background: white;
  border-radius: 1px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1);
  display: 'inline-block';
  cursor: 'pointer';
}

.color-picker-popover {
  position: absolute;
  right: 0;
  z-index: 2;
}

color-picker-cover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.item-form-button {
  font-size: 16px;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #ec407a;
  box-shadow: none;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label{
  color: #ec407a !important;
}